/* Coolors Exported Palette - coolors.co/383c4a-404552-5c616c-d3dae3-f5f6f7 */

$color1: #383c4a; //rgba(56, 60, 74, 100)
$color2: #404552; //rgba(64, 69, 82, 100)
$color3: #5c616c; //rgba(92, 97, 108, 100)
$color4: #d3dae3; //rgba(211, 218, 227, 100)
$color5: #f5f6f7; //rgba(245, 246, 247, 100)