/* Derived from the following Coolors Exported Palettes:
https://coolors.co/5294e2-4dadd4-73d216-fc4138-f04a50
https://coolors.co/383c4a-404552-5c616c-d3dae3-f5f6f7
*/

$budgie-blue    : #5294e2; //rgba(82, 148, 226, 100)
$budgie-liteblue: #4dadd4; //rgba(77, 173, 212, 100)
$budgie-green   : #73d216; //rgba(115, 210, 22, 100)
$budgie-red     : #fc4138; //rgba(252, 65, 56, 100)
$budgie-pink    : #f04a50; //rgba(240, 74, 80, 100)
$budgie-slate   : #383c4a; //rgba(56, 60, 74, 100)
$budgie-gray    : #404552; //rgba(64, 69, 82, 100)
$budgie-midgray : #5c616c; //rgba(92, 97, 108, 100)
$budgie-mischka : #d3dae3; //rgba(211, 218, 227, 100)
$budgie-haze    : #f5f6f7; //rgba(245, 246, 247, 100)
