/* Coolors Exported Palette - coolors.co/5294e2-4dadd4-73d216-fc4138-f04a50 */

$color1: #5294e2; //rgba(82, 148, 226, 100)
$color2: #4dadd4; //rgba(77, 173, 212, 100)
$color3: #73d216; //rgba(115, 210, 22, 100)
$color4: #fc4138; //rgba(252, 65, 56, 100)
$color5: #f04a50; //rgba(240, 74, 80, 100)